<h2> Find Other Tweeters! </h2>

<% @allprofile.each do |alluser| %>

<div>
	<%= link_to alluser.username, user_path(id: alluser.id) %>

	<% if @followin = Following.find_by(leader_id: alluser.id, follower_id: current_user.id) %>
		<%= link_to "Unfollow Me", user_following_path(user_id: alluser.id, id: @followin.id), method: :delete %>

	<% else %>
		<%= link_to "Follow Me", user_followings_path(user_id: alluser.id), method: :post %>
	<% end %>	
</div>
<hr>


<% end %>

<div><%= link_to "Back", tweets_path, class:"btn btn-primary" %></div>
