<h2> Find Other Tweeters! </h2>

<div class = "container">
	<div class = "row">
<!-- 	<div class = "col-sm-offset-4 col-sm-4"> -->
		<% @allprofile.each do |alluser| %>
			<div id="all-userprofiles-<%= alluser.id %>">
				<%= render 'profiles/alluserajax', alluser: alluser %>
			</div>
		<% end %>
	</div>
</div>





