<h2> All Your Followers </h2>

  <% @user.followers.each do |followers| %>


  	

    <p><%= link_to followers.follower.username, user_path(followers.follower.id) %> </p>

  <% end %>

<div><%= link_to "Back", tweets_path, class:"btn btn-primary" %></div>

